{namespace nipu}


/**
* Error page
*/
{template .error}

{call .header  data="all" /}
<div class="jumbotron">
    <div class="container">
        <p>Ошибка, <a href="/index">главная</a>.</p>
    </div>
</div>
<div class="container">

    {call .footer/}

{/template}

